<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    {{ content }}
<hr>
  Global Xenial Cloud ：The Friendly Cloud for Shared Resources - GXC.LA： <a href="https://GXC.LA" target="_blank">https://GXC.LA</a>
</body>
</html>
